/* signIn.css */

.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
  margin-top: 80px;
  padding: 20px;
}

.login-form {
  width: 600px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 15px;
  margin-top: 20px;
}

.form-group input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 3px;
  outline: none;
}

.form-group button {
  width: 100%;
  padding: 10px;
  background-color: rgb(116, 18, 18);
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.form-group button:hover {
  background-color: rgb(170, 59, 48);
}

.error-message,
.success-message {
  margin-top: 10px;
  font-size: 14px;
}

.social-login {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.social-login span {
  margin-right: 10px;
}

.google-icon,
.github-icon {
  font-size: 24px;
  margin-right: 10px;
  color: #4285f4;
}

.forgot-password {
  margin-top: 20px;
  text-align: center;
  font-size: 14px;
  color: #888;
}

.eye-icon {
  font-size: 20px;
}

@media (max-width: 785px) {
  .login-form {
    max-width: 600px;
  }
}
