/* cultural.css */
.cult-container {
  padding: 50px;
}

.cult-1 {
  list-style-type: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px; /* Adjust the gap as needed */
  grid-template-areas:
    "e e t"
    "e e a"
    "b r y";
}

.cult-1 img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5), 0 1px 3px rgba(0, 0, 0, 0.08);
}

/* Assign grid areas dynamically based on the index */
.item-1 {
  grid-area: y;
}

.item-2 {
  grid-area: a;
}
.item-3 {
  grid-area: t;
}

.item-4 {
  grid-area: r;
}
.item-5 {
  grid-area: e;
  margin-right: 50px;
}

.item-5 {
  width: 100%;
}

.item-5 img {
  height: 500px;
}

.item-5 p {
  padding-top: 20px;
}
.item-6 {
  grid-area: b;
}

.cult-1 p {
  text-align: center;
  margin-top: 10px; /* Adjust the margin as needed */
}

@media (max-width: 705px) {
  .cult-container {
    padding: 20px;
  }
  .cult-1 {
 display: grid;
 grid-template-areas:
   "y t b" 
   "r a a"
   "e e e";
  }

  .item-5 img {
    height: 390px;
  }

  
  .item-5 {
  margin-right: 0px;
}
.item-5 p {
  padding-top: 0px;
}
  
}

@media (max-width: 480px) {
  .cult-1{
    display: flex;
    flex-direction: column;
  }
  .item-5 img {
    height: 250px;
  }
}
