.top-container {
  padding: 50px;
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  margin-top: 70px;
}

.image {
  flex: 1;
  min-width: 0; /* Ensure the image can shrink if needed */
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
  box-shadow: 0 4px 9px rgba(0, 0, 0, 0.5), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.description {
  flex: 2;
  min-width: 0; /* Ensure the description can shrink if needed */
  padding: 10px;
}

.description a {
  color: rgb(120, 27, 27);
}

@media (max-width: 785px) {
  .top-container{
    flex-direction: column;
    padding: 20px;
  }

  
}
