.search-results {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 50px;
}

.article-search {
    max-width: 300px;
    margin: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    
}
.search-tit {
  margin-top: 80px;
}

.article-search img {
   width: 100%;
   height: 200px;
   object-fit: cover;
   border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5), 0 1px 3px rgba(0, 0, 0, 0.08);
  }

  .search-form {
    display: flex;
    justify-content: center;
    margin: 10px 20px 30px;
  }

  .search-form input {
     width: 600px;
     padding: 10px;
     outline: none;
     border-radius: 10px;
     box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5), 0 1px 3px rgba(0, 0, 0, 0.08);
  }
  .article-details a{
    color: #87220c; 
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    padding: 5px 10px;
    background-color: #eee;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .article-details a:hover{
    background-color:  #87220c;
    color: #fff;
  } 


  @media (max-width: 785px) {
    .search-results {
        padding: 20px;
    }
    .search-form input  {
        max-width: 500px;
    }
    .article-search {
        max-width: 600px;
    }
  }


  

  