

.navbar-container {
  display: flex;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
}
.navbar-container b {
  font-size: 16px;
}
.logo {
  color: rgb(162, 26, 26);
  font-size: 30px;
  font-weight: bold;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 20px;
}

.bar {
  border-left: 1px solid black;
  height: 15px;
}
.other {
  display: flex;
  align-items: center;
  gap: 20px;
  
}
.other b {
  font-size: 20px;
  
}
