.container-bottom {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding-top: 50px;
  padding-bottom: 20px;
  margin-left: 50px;
  margin-right: 50px;
  border-top: 1px solid black;
}
.options {
  flex: 1;
  line-height: 1.8em;
  font-size: 18px;
}


@media (max-width: 785px) {
  .container-bottom {
    padding: 20px;
    margin: 20px;
  }
}