.full-story {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 50px;
  margin-bottom: 150px;
  margin-top: 80px;
}

.full-story a {
  color: #87220c;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  padding: 5px 10px;
  margin-top: 5px;
  background-color: #eee;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.full-story a:hover {
  background-color: #87220c;
  color: #fff;
}

.full-story img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

.full-story p {
  margin-top: 8px;
  font-size: 14px;
}

.full-story h1 {
  font-size: 18px;
  margin-top: 12px;
}

@media (max-width: 785px) {
  .full-story {
    padding: 20px;
  }
}
